* {
    box-sizing: border-box;
}

#app {
    max-width: 1200px;
    margin: auto;

}

#header, .page {
    box-shadow: 0 0 4px 2px #00000078;
}

.page {
    padding: 15px;
    margin-top: 15px;
    background: #e8fdff;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        a {
            text-decoration: none;
        }
    }
}