.builder-container p, .builder-container div, .builder-container h1, .builder-container ul, .builder-container button {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}